<template>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./static/images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="./static/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="./static/style/index.css">
    <title>-title-</title>
    <script type="text/javascript" src="./static/lib/power-helper.js"></script>
    <script>
        window.env = {
            lang: '--lang--'
        }
    </script>
    <slot></slot>
    <script src="./static/js/index.js"></script>
</template>