<!DOCTYPE html>
<html lang="--lang--">
    <head>
        <t-head title="My Web Page"></t-head>
    </head>
    <body>
        <t-body>
            <div style="text-align: center;">
                <img src="./static/images/logo.png">
                <br>
                <div class="primary" style="padding-top: 20px;">
                    {你好}
                </div>
            </div>
        </t-body>
    </body>
</html>
